 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
.c_pd {
    padding: 0px;
}
.cm_btn {
  font-size: 14px;
}
.header_action {
  align-items: end;
}
/* header start here */
.menu {
  gap: 0;
}
.menu ul li a {
  padding: 10px 5px 0px !important;
  font-size: 14px;
  text-align: right; 
}
.header_btn {
  display: flex;
  justify-content: end;
}
/* home start */
.home{
  padding-bottom: 25px;
}
.search_container {
    padding: 20px 0px;
    border-radius: 0px;
    display: grid;
    width: 100%;
}
.input_group {
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: center;
}
.home_center{
  justify-content: center;
}
.home_h1{
  padding: 0px;
  font-size: 35px;
  text-align: center;
}
.home_p1 {
  padding: 10px 0px 20px 0px;
  font-size: 12px;
  text-align: center;
}
.home_img img {
  padding: 0px;
}
.input_group input {
  font-size: 12px;
}
/* house start */
.houses {
  padding-top: 25px;
}
.houses_h1{
  padding: 0px;
  font-size: 22px;
  text-align: center;
}
.houses_p1 {
  padding: 5px 0px 10px 0px;
  font-size: 12px;
  text-align: center;
}
.houses_h2 {
    font-size: 18px;
    padding: 10px 0px 0px;
    align-items: center;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.houses_p2 {
    font-size: 9px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.c_pd {
  padding-bottom: 25px;
}
.cm_h2 {
  margin-top: 20px;
  padding: 0px;
  font-size: 22px;
  text-align: center;
}
/* support start here */
.support .cm_p {
  padding: 10px 0px 15px;
  font-size: 12px;
}
.support_content_list {
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.support_content_list i {
  padding: 20px 25px;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.support_content_list p {
  text-align: center;
}
/* service start here */
.service_text h2 {
  padding-bottom: 20px;
}
.service_content {
  margin-bottom: 20px;
}
.service_p1 {
  font-size: 14px;
}
.service_p2 {
  padding: 10px 0px;
  font-size: 12px;
}
.service_i1 {
  font-size: 18px;
}
.service_footer_i {
  font-size: 13px;
}
/* agents start here */
.agents_title h2 {
  padding-bottom: 25px;
}
.carousel_btn_wrapper {
  padding-bottom: 30px;
}
/* contact start here */
.contact_title h2 {
  padding: 0;
  font-size: 22px;
  line-height: 1.2;
}
.contact ul {
  margin-bottom: 10px;
  padding: 10px 18px;
}
.contact_cm_p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #2B1B12;
}
.contact_input {
  width: 100%;
}
.btn_menu {
  margin: 10px 0 0 0;
  width: 100%;
}
/* footer start here */
.footer {
  padding: 30px 25px 20px 25px;
  text-align: center;
}
.footer_img {
  text-align: center;
}
.footer_p {
  padding-right: 0px;
  text-align: center;
}
.footer_h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.footer_link li {
  margin-bottom: 15px;
  justify-content: center;
}
.footer_link li a {
  font-size: 12px;
}
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
body {
  font-size: 14px;
}
.c_pd {
  padding: 25px 0px;
}
.cm_h2 {
  font-size: 30px;
}
/* header start here */
.menu {
  gap: 0;
}
.header_action {
  align-items: end;
}
.menu ul li a {
  padding: 10px 5px 0px !important;
  font-size: 14px;
  text-align: right;
}
.input_group input {
  font-size: 14px;
}
.header_btn {
  display: flex;
  justify-content: end;
}
/* home start */
.home_center {
  justify-content: center;
}
.home_h1{
  padding: 0px;
  font-size: 40px;
  text-align: center;
}
.home_p1 {
  padding: 10px 0px 30px 0px;
  text-align: center;
}
.home_img img {
  padding: 0px;
}
/* houses start here */
.houses_information {
  text-align: center;
}
.houses_h2 {
  font-size: 25px;
}
.houses_p1 {
  text-align: center;
  padding: 10px 0 15px;
}
.houses_p2 {
  font-size: 12px;
}
/* support start here */
.support .cm_p {
  padding: 5px 0px 20px;
}
.support_text h2{
  padding-bottom: 25px;
}

.support_content_list {
  margin: 0px 0px 20px 0px;
  align-items: baseline;
}

.support_content_list i {
  padding: 20px 25px;
  font-size: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.support_content_list p {
  text-align: center;
}
/* service start here */
.service_content {
  margin: 15px 0px;
}
.service_text h2 {
  padding-bottom: 25px;
}
.service_p2 {
  padding: 10px 0px;
}
/* agents start here */
.agents_title h2{
  padding-bottom: 25px;
}
/* contact start here */
.contact_title h2{
  padding: 0 0 25px 0;
}
.contact_input {
  width: 500px;
}

.btn_menu {
  margin: 10px 0 0 0;
  width: 100%;
}
/* footer start here */
.footer {
  padding: 30px 25px 20px 25px;
}
.footer_img {
  text-align: center;
}
.footer_p {
  padding-right: 0px;
  text-align: center;
}
.footer_h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.footer_link li a {
  font-size: 12px;
}
.footer_link li {
  margin-bottom: 15px;
}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
body {
  font-size: 14px;
}
.c_pd {
  padding: 30px 0px;
}
.cm_h2 {
  font-size: 30px;
}
/* header start here */
.header_action {
  align-items: end;
}
.menu {
  gap: 0;
}
.menu ul li a {
  padding: 10px 5px 0px !important;
  font-size: 15px;
  text-align: right;
}
.header_btn {
  display: flex;
  justify-content: end;
}
/* home start */
.home_center {
  justify-content: center;
}
.home_img img {
  padding-top: 0;
}
.home_h1{
  padding-top: 40px;
  font-size: 35px;
  text-align: center;
}
.home_p1 {
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.search_container {
  padding: 20px 10px;
}
.input_group {
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: center;
}
/* houses start here */
.houses_h1 {
  text-align: center;
}
.houses_text {
  padding-bottom: 10px;
}
.houses_information {
  text-align: center;
}
.houses_h2 {
  font-size: 25px;
  padding: 10px 0px 0px;
}
.houses_p1 {
  text-align: center;
}
/* support start here */
.cm_p {
  padding: 10px 0 50px;
}
.support .cm_p {
  padding: 10px 0px 10px;
}
.support_content_list {
  margin: 15px 0px;
}
/* service start here */
.service_text h2 {
  padding-bottom: 25px;
}
.service_content {
  margin: 20px;
}
.service_p2 {
  padding: 10px 0px;
}
/* agents start here */
.agent_h5 {
  font-size: 18px;
}
/* contact start here */
.contact_title h2{
  padding: 0 100px 20px 100px;
  font-size: 30px;
}
/* footer start here */
.footer_img {
  padding-bottom: 10px;
  text-align: center;
}

.footer_p {
  padding-right: 0px;
  text-align: center;
}
.footer {
  padding: 24px 25px 25px 25px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
/* home start */
.home_h1 {
  padding: 130px 130px 0px 0px;
  font-size: 45px;
}
.home_p1 {
  font-size: 15px;
}
/* houses start here */
.houses_h1 {
  text-align: start;
}
/* support start here */
.support_h3 {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  color: #2B1B12;
}
/* agents start here */
.agents_title h2 {
  padding: 0 350px 50px;
}
/* contact start here */
.contact_title h2 {
  padding: 0px 300px 20px;
}
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* header start here */
.menu {
  gap: 45px;
}
  /* home start */
.home_h1 {
  padding: 150px 130px 0px 0px;
  font-size: 48px;
}
.home_p1 {
  font-size: 20px;
  padding: 20px 0px 40px 0;
}
/* houses start */
.houses_h1 {
  padding: 0px 150px 0px 0px;
}
}