@font-face {
  font-family: "Montserrat-800";
  src: url(../font/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat-700";
  src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-600";
  src: url(../font/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/* color: #2B1B12; */
/* common start */
body {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: #2B1B12;
}

.c_pd {
  padding: 50px 0px;
}

.cm_h2 {
  font-family: "Montserrat-800";
  font-size: 40px;
  font-weight: 800;
  color: #2B1B12;
  line-height: 140%;
}

.cm_p {
  font-family: "Montserrat-600";
  font-size: 16px;
  font-weight: 600;
  color: #2B1B12;
  line-height: 130%;
}

/* common end */

/* header start here */
header {
  background-color: #FEF7F2;
}
.menu{
  gap: 30px;
}
.menu .nav-link {
  padding: 10px 15px;
  font-weight: 600;
  color: #2B1B12;
  transition: color 0.3s ease;
}
.menu .nav-link:hover {
  color: #695346;
}
/* SIGN UP BUTTON */
.cm_btn {
  font-family: "Montserrat-600", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2B1B12;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.cm_btn:hover {
  color: #695346;
  background-color: aliceblue;
}

.cm_btn:active {
  color: #2B1B12;
  background-color: transparent;
  border-color: transparent;
}

/* HEADER RIGHT ICONS */
.header_action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_action .nav-link {
  padding: 10px 12px;
}

.header_action i {
  font-size: 25px;
  color: #2B1B12;
  transition: color 0.3s ease;
}

.header_action i:hover {
  color: #695346;
}

/* header end here */

/* home start here */
.home {
  position: relative;
  background-color: #FEF7F2;
}

.home_h1 {
  padding: 130px 0 0 0;
  font-family: "Montserrat-800";
  font-size: 45px;
  font-weight: 800;
  color: #2B1B12;
}

.home_p1 {
  font-family: "Montserrat-700";
  font-weight: 700;
  line-height: 160%;
  padding: 15px 0 30px 0;
}

.home_img img {
  width: 100%;
  padding: 80px 0 0 0;
  background-color: transparent;
}
.search_container {
  background-color: #DDC7BB;
  padding: 30px;
  border-radius: 12px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.input_group {
  background-color: #FBF5F1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}

.input_group input {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #2B1B12;
  width: 100%;
  display: inline;
}
.input_group input:focus {
  outline: none;
}
.input_group i {
  color: #695346;
  margin-left: 10px;
}
/* home end here */

/* houses start here */
/* .houses {} */

.houses_img img {
  width: 100%;
}

/* .houses_text {} */

.houses_h1 {
  text-align: center;
}
.houses_p1 {
  padding: 10px 0 15px;
}

.houses_h2 {
  font-size: 30px;
  padding: 20px 0px 5px;
}
.houses_p2 {
  font-size: 14px;
}
/* houses end here */

/* support starts here */
.support .cm_p{
  padding: 10px 185px 50px;
}
.support_content_list {
  margin: 0px 0px;
  background-color: #DDC7BB;
  padding: 20px;
  border-radius: 20px;
}
.support_content_list:hover {
  box-shadow: 0px 10px 40px 0px #0000001A;
}
.support_content_list i {
  display: inline-block;
  margin-bottom: 10px;
  padding: 18px 50px 20px 25px;
  font-size: 35px;
  background-color: #FBF5F1;
  border-radius: 10px;
}

.support_h3 {
  font-size: 16px;
  padding: 10px 0px;
}

.support_content_list p {
  font-size: 12px;
}
/* support end here */

/* service starts here */
.service_text h2 {
  padding-bottom: 50px;
}
.service_content {
  background-color: #DDC7BB;
  border-radius: 20px;
  box-shadow: 0px 10px 40px 0px #0000001A;
}
.service_content:hover {
  box-shadow: 0px 15px 30px 0px #0000001A;
}
.service_img img {
  border-radius: 20px 20px 0px 0px;
}
.service_footer {
  padding: 15px;
  background-color: transparent;
  border-radius: 20px;
}
.c_mb {
  padding-bottom: 10px;
}
.service_footer_i {
  background-color: #FBF5F1;
  border-radius: 5px;
  padding: 2px;
}
.service_p1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.service_p2 {
  padding: 15px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.service_cmp2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.service_i1 {
  font-size: 20px;
}
.service_img {
  border-radius: 20px 20px 0px 0px;
}
/* service end here */

/* agents starts here */
.agents {
  background-color: #FEF7F2;
}
.agents_title h2{
  padding-bottom: 50px;
}
.carousel_btn_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.carousel_btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #2B1B12;
  color: #FBF5F1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.carousel_btn:hover {
  background: #695346;
  transform: scale(1.05);
}
.carousel_btn:active {
  background: #543E32;
}
.agents_content {
  height: 100%;
  border-radius: 20px;
  background-color: #DDC7BB;
  transition: 0.3s ease;
  overflow: hidden;
}
.agents_content:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px #0000001A;
}
.agents_rating {
  padding: 4px 8px;
  text-align: center;
  background-color: #FEF7F2;
  border-radius: 5px;
  font-size: 14px;
}
.agents_rating i {
  color: #FFC71E;
}
.agent_p {
  font-family: "Montserrat-600";
  font-size: 14px;
  font-weight: 600;
  color: #2B1B12;
}
.agents_cover {
  border-radius: 20px 20px 0 0;
}
.agents_footer {
  padding: 15px;
}
.agent_first {
  display: flex;
  align-items: center;
  gap: 10px;
}
.agent_img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.agent_h5 {
  font-weight: 700;
}
.agents_review {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 10px;
}
/* agents end here */

/* contact starts here */
.contact {
  background-color: #FEF7F2;
  padding: 80px 0;
}
.contact_title h2{
  padding: 0px 200px;
  font-size: 32px;
  line-height: 1.3;
}
.contact ul {
  margin-bottom: 30px;
}
.contact ul li {
  display: inline-flex;
  align-items: center;
}
.contact ul i {
  color: #2B1B12;
  font-size: 16px;
}
.contact_cm_p {
  margin: 0 20px 0 6px;
  font-size: 14px;
  font-weight: 600;
  color: #2B1B12;
}
.contact .fa-envelope {
  margin-right: 8px;
  color: #2B1B12;
}
.contact_input_wrap {
  position: relative;
  display: inline-block;
}
.contact_input_wrap i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #2B1B12;
  font-size: 14px;
  z-index: 2;
}
.contact_input {
  font-family: "Montserrat";
  font-weight: 600;
  color: #2B1B12;
  width: 380px;
  padding: 12px 15px 12px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #DDC7BB;
  font-size: 14px;
}
.btn_menu {
  font-size: 14px;
  margin-left: 10px;
  padding: 12px 22px;
  color: #fff;
  background-color: #2B1B12;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.btn_menu:hover {
  color: #695346;
  background-color: aliceblue;
}
.btn_menu:active {
  color: #2B1B12;
  background-color: transparent;
  border-color: transparent;
}
/* contact end here */


/* footer starts here */
.footer {
  background-color: #DDC7BB;
  padding: 50px 25px 100px 25px;
}

.footer_img {
  padding-bottom: 30px;
}

.footer_p {
  font-family: "Montserrat-700";
  font-weight: 700;
  line-height: 130%;
  padding-right: 85px;
}
.footer_cm {
  margin-top: 30px;
}
.footer_h4 {
  margin-bottom: 30px;
  font-family: "Montserrat-700";
  font-size: 22px;
  font-weight: 700;
  color: #2B1B12;
}
.footer_link li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
.footer_link li i {
  font-size: 20px;
}
.footer_link li a {
  font-family: "Montserrat-700";
  font-size: 15px;
  font-weight: 700;
  color: #2B1B12;
  text-decoration: none;
}
.footer_link li a:hover,
.footer_link li i:hover {
  color: #695346;
}
/* footer end here */